<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body style="text-align: center;">
<div style="margin:0 auto; width: 500px;">
    <form method="post" th:action="@{doLogin.htm}">
        <table>
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="userName"></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="登录">
                    <input type="reset" value="重置">
                </td>
            </tr>
            <tr>
                <td colspan="2"><span th:text="${message}" style="color:red"></span></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>